fastapi
pydantic
uvicorn
sqlalchemy
psycopg2-binary
pytest
passlib
bcrypt
httpx
python-multipart
cryptography
fakeredis
alembic
python-dotenv
joblib
pandas
scikit-learn
celery
redis
python-logging-loki
pyjwt
prometheus-client